body {
	font-family: "Roboto", Arial !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #007ced;
	background: linear-gradient(to bottom, #007ced 1%, #cce7ff 100%) no-repeat
		center center fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@media (min-width: 320px) and (max-width: 480px) {
	.body {
		margin: 10%;
	}
}
